文字截断{
  text-overflow:ellipsis; /*显示...   clip：简单裁切，不显示...*/
	word-break:normal; /*break-all | keep-all */
	word-wrap:break-word; /*normal */
	overflow-wrap:break-word; /*normal  css3中的word-wrap改名*/
	white-space:nowrap; /*pre | normal */
	overflow:hidden;
}
字体{
	font-family:arial,'宋体','微软雅黑';
	/*宋体	SimSun	\5B8B\4F53 */
	/*黑体	SimHei	\9ED1\4F53 */
	/*微软雅黑	Microsoft YaHei	\5FAE\8F6F\96C5\9ED1 */
	/*楷体_GB2312	KaiTi_GB2312	\6977\4F53_GB2312 */
	/*新宋体	NSimSun	\65B0\5B8B\4F53 */
	/*隶书	LiSu	\96B6\4E66 */
	/*幼园	YouYuan	\5E7C\5706 */
	/*华文细黑	STXihei	\534E\6587\7EC6\9ED1 */
	/*细明体	MingLiU	\7EC6\660E\4F53 */
	/*新细明体	PMingLiU	\65B0\7EC6\660E\4F53 */
}
各内核前缀{
	/*
	 -moz-       //Firefox3.5+
	 -webkit-    //Safari3.2+
	 -o-         //Opera9.6
	 -ms-        //IE8
	*/
	-webkit-text-size-adjust:none;
}
Table{table-layout:fixed;border-spacing:0;jerry:expression(cellSpacing='0');border-collapse:collapse;border-collapse:separate;} 
圆角边框，盒阴影{
	border:1px solid #696;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
	-webkit-box-shadow:#666 0px 2px 3px;-moz-box-shadow:#666 0px 2px 3px;box-shadow:#666 0px 2px 3px;
	filter:DropShadow(offx=0,offy=-1,color=#ff000000)Dropshadow(offx=1,offy=0,color=#ff000000)Dropshadow(offx=0,offy=1,color=#ff000000)Dropshadow(offx=-1,offy=0,color=#ff000000);
}
背景渐变{
	background:#EEFF99;
	background:-webkit-gradient(linear,0 0,0 bottom,from(#EEFF99),to(#66EE33));
	background:-webkit-linear-gradient(#EEFF99,#66EE33);
	background:-moz-linear-gradient(#EEFF99,#66EE33);
	background:-ms-linear-gradient(#EEFF99,#66EE33);
	background:-o-linear-gradient(#EEFF99,#66EE33);
	background:linear-gradient(#EEFF99,#66EE33);
	-pie-background:linear-gradient(#EEFF99,#66EE33);
	behavior:url(css/PIE.htc);	
}
透明{
	opacity:0.5;filter:alpha(opacity=50);
	filter:alpha(opacity=100,finishOpacity=0,style=1,startX=0,startY=0,finishX=200,finishY=0);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; /*ie8*/
	/* js: obj.style.opacity=value; obj.style.filter='alpha(opacity='+value+')'或 obj.filters.alpha.opacity=value;(filters对象是ie特有的对象) */
}	
背景透明{
	background-color:rgba(255,255,255,0.6);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#99ffffff', EndColorStr='#99ffffff');
	/* 透明度0.0～1.0值 与 透明度十六进制值 对应表：
		0.0 → 00 | 0.1 → 19 | 0.2 → 33 | 0.3 → 4c | 0.4 → 66 | 0.5 → 7f | 0.6 → 99 | 0.7 → b2 | 0.8 → cc | 0.9 → e5 | 1.0 → ff
		0.05 → 0c | 0.15 → 26 | 0.25 → 3f | 0.35 → 59 | 0.45 → 72 | 0.55 → 8c | 0.65 → a5 | 0.75 → bf | 0.85 → d8 | 0.95 → f2	
	*/
}
:root 背景透明{filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#00000000',EndColorStr='#00000000');/*//ie9 无透明度(否则会加两份透明层)*/}

IE6png透明度支持{
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="/img/0622_37.png");
}
对象内容建立阴影效果{
	text-shadow:#000 -1px 0 0,#000 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;/*颜色 x轴 y轴 模糊半径],[颜色 x轴 y轴 模糊半径]...*/	
	filter:Shadow(color=#CACACA,direction=135,strength=4); /*direction:角度,strength:厚度px。使用该滤镜的时候，不能够设置背景颜色，否则滤镜将无效*/
		/*上面提到的两个滤镜都可以用来实现阴影效果。这也就是说，IE并没有把文字阴影和盒子阴影区分！这就会出现一些问题：元素中的文字会继承元素的阴影设置。
		如果不定义元素的background和border，就只会出现文字阴影
		如果只定义background而不定义border，就只会出现盒子阴影，文字不会出现阴影
		如果只定义了border而不定义background，就即会出现盒子阴影，内容文字及图片也会出现阴影。*/
}
/*Firefox按钮 消除左右私有间距、内文字上下居中*/
	input[type="reset"]::-moz-focus-inner,
	input[type="button"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;padding:0;}
	/*如果你要问问什么IE6、7下会出现这样的问题，我说是微软很二。解决Button自适应宽度的最佳办法是width:auto;overflow:visible;*/

/* fixed定位 */
html,body{height:100%;background-image:url(about:blank);background-attachment:fixed;}
.fixed-t{/* top:0 */
	position:fixed;_position:absolute;top:0;bottom:auto;
	_top:expression(eval((document.compatMode&&document.compatMode=="CSS1Compat")?document.documentElement.scrollTop:document.body.scrollTop));
}
.fixed-b{/* bottom:0 */
	position:fixed;_position:absolute;bottom:0;_bottom:auto;top:auto;	
	_top:expression(eval((document.compatMode&&document.compatMode=="CSS1Compat")?(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight-1):(document.body.scrollTop+document.body.clientHeight-this.clientHeight-1)));
}
.fixed-m{/* top:50% */
	position:fixed;_position:absolute;top:50%;bottom:auto;	
	margin-top:-divHeight/2px;/*！！！！！！！！！！！！！！！*/
	_margin-top:0;	
	_top:expression(eval((document.compatMode&&document.compatMode=='CSS1Compat')?(document.documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2):(document.body.scrollTop+(document.body.clientHeight-this.clientHeight)/2)));
}

@import样式引入使用{/*
	该规则必须在样式表头部最先声明。并且其后的分号是必需的，如果省略了此分号，外部样式表将无法正确导入，并会生成错误信息。
	@import url("global.css");
	@import url(global.css);
	@import "global.css";
	@import url(example.css) screen, print;
	@import url(example.css) screen and (min-width:800px);
	@import url(example.css) screen and (width:800px),(color);
	@import url(example.css) screen and (min-device-width:500px) and (max-device-width:1024px);
	IE使用@import无法引入超过35条的样式表；IE7及更早浏览器不支持@import指定媒体类型和媒体查询；IE8不支持@import指定媒体查询。*/
}
/*CSS中:nth-child的用法*/
	:nth-child(2){/*选取第几个标签，“2可以是你想要的数字”*/}
	:nth-child(n+4){/*选取大于等于4标签，“n”表示从整数，下同*/}
	:nth-child(-n+4){/*选取小于等于4标签*/}
	:nth-child(2n){/*选取偶数标签，2n也可以是even*/}
	:nth-child(2n-1){/*选取奇数标签，2n-1可以是odd*/}
	:nth-child(3n+1){/*自定义选取标签，3n+1表示“隔二取一”*/}
	:last-child{/*选取最后一个标签*/}
	:nth-last-child(3){/*选取倒数第几个标签,3表示选取第3个*/}
	.demo01 li:nth-last-child(3){background:#090}
/*CSS选择器*/
	*{/*通配符选择器*/}{/**/}
	#X{/*ID选择器*/}
	.X{/*类选择器*/}
	X Y{/*后代选择器*/}
	X{/*标签选择器*/}
	X:link X:visited X:hover X:active{/*伪类*/}
	X+Y{/*相邻选择器*/}
	X>Y{/*子选择器*/}
	X~Y{/*相邻选择器*/}
	X[title]{/*属性选择器*/}
	X[title=""]{/*另一种属性选择器*/}
	X[title*=""]{/*模糊匹配属性选择器*/}
	X[title^=""]{/*另一种模糊匹配属性选择器(与*的作用相反，^起到排除的作用)*/}
	X[href$=""]{/*很实用的属性选择器(匹配结尾为特定字符串的元素)*/}
	X:checked{/*另一种伪类选择器。 input[type=radio]:checked*/}
/*HTML默认样式表CSS属性*/
	html,address,blockquote,body,dd,div,dl,dt,fieldset,form,frame,frameset,h1,h2,h3,h4,h5,h6,noframes,ol,p,ul,center,dir,hr,menu,pre{display:block}
	li{display:list-item}
	head{display:none}
	table{display:table}
	tr{display:table-row}
	thead{display:table-header-group}
	tbody{display:table-row-group}
	tfoot{display:table-footer-group}
	col{display:table-column}
	colgroup{display:table-column-group}
	td,th{display:table-cell;}
	caption{display:table-caption}
	th{font-weight:bolder; text-align:center}
	caption{text-align:center}
	body{margin:8px; line-height:1.12}
	h1{font-size:2em; margin:.67em 0}
	h2{font-size:1.5em; margin:.75em 0}
	h3{font-size:1.17em; margin:.83em 0}
	h4,p,blockquote,ul,fieldset,form,ol,dl,dir,menu{margin:1.12em 0}
	h5{font-size:.83em; margin:1.5em 0}
	h6{font-size:.75em; margin:1.67em 0}
	h1,h2,h3,h4,h5,h6,b,strong{font-weight:bolder}
	blockquote{margin-left:40px; margin-right:40px}
	i,cite,em,var,address{font-style:italic}
	pre,tt,code,kbd,samp{font-family:monospace}
	pre{white-space:pre}
	button,textarea,input,object,select{display:inline-block;}
	big{font-size:1.17em}
	small,sub,sup{font-size:.83em}
	sub{vertical-align:sub}
	sup{vertical-align:super}
	table{border-spacing:2px;}
	thead,tbody,tfoot{vertical-align:middle}
	td,th{vertical-align:inherit}
	s,strike,del{text-decoration:line-through}
	hr{border:1px inset}
	ol,ul,dir,menu,dd{margin-left:40px}
	ol{list-style-type:decimal}
	ol ul,ul ol,ul ul,ol ol{margin-top:0; margin-bottom:0}
	u,ins{text-decoration:underline}
	br:before{content:”\A”}
	:before,:after{white-space:pre-line}
	center{text-align:center}
	abbr,acronym{font-variant:small-caps; letter-spacing:0.1em}
	:link,:visited{text-decoration:underline}
	:focus{outline:thin dotted invert}
	/*@media print*/
	h1{page-break-before:always}
	h1,h2,h3,h4,h5,h6{page-break-after:avoid}
	ul,ol,dl{page-break-before:avoid}
IE_Only{
	background-position-x/*设置背景横向（x轴）位置*/;
	background-position-y:/*设置背景纵向（y轴）位置*/; 
	layout-flow:/*设置内容的流动及方向*/;
	layout-grid:/*设置或检索复合文档中指定文本字符版式的网格特性*/;
	layout-grid-char:/*设置或检索应用于对象内容文本的字符网格尺寸*/; 
	layout-grid-line:/*设置或检索应用于对象文本的行网格尺寸*/;
	layout-grid-mode:/*设置或检索文本网格版式是否使用二维*/;
	layout-grid-type:/*设置或检索应用于对象文本的网格类型*/; 
	ruby-align:/*设置或检索通过 rt 对象指定的注释文本或发音指南对齐位置*/; 
	ruby-overhang:/*设置或检索通过 rt 对象指定的注释文本或发音指南位置*/; 
	ruby-position:/*是设置或检索通过 rt 对象指定的注释文本或发音指南位置*/;
	text-autospace:/*自动创建空格或增加空格宽度*/;
	text-justify:/*设置或检索对象内调整文本使用的对齐方式*/;
	text-kashida-space:/*设置或检索如何拉伸字符来调节文本行排列*/;
	text-underline-position:/*设置下划线位置*/;
	behavior:/*检索对象的DHTML行为*/;
	filter:/*设置对象滤镜*/; 
	line-break:/*设置日文文本的换行*/;
	word-break:/*设置文本强制换行*/;
	writing-mode:/*设置或检索对象的内容块固有的书写方向*/;
	ime-mode:/*设置或检索是否允许用户激活输入中文，韩文，日文等的输入法(I)*/;
	-ms-interpolation-mode: bicubic/*可以让IE7的图片在有缩放的情况下，失真变得不怎样明显*/;
	-ms-text-size-adjust:/*？支持*/;
	scrollbar-3dlight-color:/*CSS1 有 检索或设置对象滚动条3d亮色阴影边框(threedlightshadow)的外观颜色。*/;
	scrollbar-darkshadow-color:/* CSS1 有 检索或设置对象滚动条3d暗色阴影边框(threeddarkshadow)的外观颜色。*/;
	scrollbar-highlight-color:/* CSS1 有 检索或设置对象滚动条3d高亮边框(threedhighlight)的外观颜色。*/;
	scrollbar-shadow-color:/* CSS1 有 检索或设置对象滚动条3d阴影边框(threedshadow)的外观颜色。*/;
	scrollbar-arrow-color:/* CSS1 有 检索或设置对象滚动条方向箭头的颜色。当滚动条出现但不可用时，此属性失效。*/;
	scrollbar-face-color:/* CSS1 有 检索或设置对象滚动条3D表面的(threedface)的外观颜色。*/;
	scrollbar-track-color:/* CSS1 有 检索或设置对象滚动条拖动区域的外观颜色。*/;
	scrollbar-base-color:/* CSS1 有 检索或设置对象滚动条基准颜色，其它界面颜色将据此自动调整。*/;
	filter:/* CSS1 无 设置或检索对象所应用的滤镜效果。*/;
	behavior:/* CSS1 无 设置或检索对象的DHTML行为。*/;
}